@model MediaPlanning.Models.BudgetViewModel

@{
    ViewData["Title"] = "Result";
}

<h2>Optimized Ad Budget</h2>
<br />

<p>Optimized Ad Budget: @ViewBag.OptimizedAdBudget euros</p>
<br />

<a href="/">Back to Form</a>
